
.navbar {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.navbar-innerDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: antiquewhite; */
    width: 55%;
    height: 100%;
}

.navbar a {
    color: white;
    text-decoration: none;
    height: 100%;
    padding: 0.3rem 0.6rem;
    display: flex;
    align-items: center;
    border-radius: 0.1rem;
    transition: all 500ms;
}

.navbar a:hover {
    background-color: #89CFF0;
    color: black;
    transition: all 500ms;
}

.navbar h3 {
    font-weight: 600;
    font-size: 1.8rem;
}

@media only screen and (max-width:850px) {
    .navbar-innerDiv {
        width: 70%;
    }
    .navbar h3 {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width:650px) {
    .navbar-innerDiv {
        width: 70%;
    }
    .navbar h3 {
        font-size: 1.3rem;
    }
}

@media only screen and (max-width:520px) {
    .navbar-innerDiv {
        width: 75%;
    }
    .navbar h3 {
        font-size: 1rem;
    }
}

@media only screen and (max-width:410px) {
    .navbar-innerDiv {
        width: 100%;
    }
    .navbar h3 {
        font-size: 1rem;
    }
}