
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 3rem;
    color: white;
    margin-top: 4rem;
}


.footer-inner p {
    /* font-family: Arial, Helvetica, sans-serif; */
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: lighter;
    letter-spacing: 0.05rem;
}
